body {
  margin: auto;
  overflow-x: hidden;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}

/* Content panel */

.content {
  display: grid;
  grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-start] auto [col5-start] auto;
  grid-template-rows: [row1-start] 15% [row2-start] auto;
  width: 80%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #e8ebf0;
}

/* Note name and Note scale */

.note {
  grid-column: 2 / 5;
  grid-row: 1 / 1;
  justify-self: start;
  font-size: 76px;
  font-family: Garamond;
  color: #292929;
  cursor: default;
}

.scale {
  grid-column: 1 / 5;
  grid-row: 2 / 2;
  justify-self: start;
  align-self: start;
  font-family: Garamond;
  margin-left: 5%;
}

.scale h3 {
  opacity: .7;
  font-size: 24px;
  text-decoration: underline;
  cursor: default;
}

.scaleNote {
  opacity: .75;
  font-size: 42px;
  cursor: default;
}

.scaleNote:hover {
  opacity: 1;
  cursor: default;
}

/* Keyboard Sidebar and Keys */

.sidebar {
  display: flex;
  align-items:flex-end;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  left: 0;
  z-index: 1;
  position: fixed;
  background-color: #17223b;
  border-right: solid gray 1px;
}

.natural {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 32pt;
  font-family: Garamond;
  color: black;
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 60px;
  cursor: pointer;
 }

 .natural p {
   padding-left: 60px;
 }

 .accidental {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Garamond;
  font-size: 18pt;
  color: white;
  background-color: rgb(39, 39, 39);
  width: 100%;
  height: 30px;
  cursor: pointer;
 }

 .accidental p {
   padding-right: 40px;
 }

/* Toggle Button */

.toggleContainer {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  place-self: center;
}

.toggleSwitch {
  width: 50px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  inset: 5px;
}

.toggleOn {
  height: 100%;
  width: 50%;
  background-color: rgb(189, 189, 189);
  border-radius: 2px;
  transition: .25s;
}

.toggleOff {
  height: 100%;
  width: 50%;
  background-color: rgb(189, 189, 189);
  border-radius: 2px;
  margin-left: 50%;
  transition: .25s;
}

/* Triads */

.majorTriad {
  grid-column: 2 / 2;
  grid-row: 2 / auto;
  justify-self: center;
  margin-top: 50px;
}

.minorTriad {
  grid-column: 3 / 3;
  grid-row: 2 / auto;
  justify-self: center;
  margin-top: 50px;
}

.diminishedTriad {
  grid-column: 4 / 4;
  grid-row: 2 / auto;
  justify-self: center;
  margin-top: 50px;
}

.augmentedTriad {
  grid-column: 5 / 5;
  grid-row: 2 / auto;
  justify-self: center;
  margin-top: 50px;
}

.triadType {
  font-size: 24px;
  text-decoration: underline;
  font-weight: normal;
  opacity: .75;
  cursor: default;
}

.triad {
  text-align: center;
}

.triadNote {
  font-size: 42px;
  opacity: .85;
  cursor: default;
}
